body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Topbar{
width:400px;
border-right:0.3px solid #e0e0e0;
height:100%;

position:fixed;
overflow: scroll;

}
.Topbar p{
  font-size: small;
}
.kitenav a{
  text-decoration: none;
  color:#424242
}
.kitenav a p{
  font-size: small;
}
.activeclass{
  color: rgb(166, 131, 131);
}
.nav-container{
  position :fixed;
  left:400px;
  border-bottom:0.3px solid #e0e0e0 ;
  width: 1000px;

}
.dashboards{
  position:fixed;
  left:400px;
  top:80px;
  width: 900px;
  height:100%;
  overflow: scroll;
}
.holdingtable {
  margin: 20px;
  overflow-x: auto; /* scroll if too wide */
}

.holdingtable table {
  width: 95%;
  border-collapse: collapse;
  margin: 10px auto;
  font-size: 14px;
}

.holdingtable th,
.holdingtable td {
  border-bottom: 1px solid #ddd;
  padding: 10px 12px;
  text-align: right;
}


.holdingtable th {
  background-color: #f8f8f8;
  font-weight: 600;
  color: #333;
}

.profit {
  color: #0f9d58; /* green */
  font-weight: 500;
}

.loss {
  color: #d93025; /* red */
  font-weight: 500;
}
.Sell{
  background-color: red;
  color:white;
}
.buy{
  background-color: blue;
  color:white;
}

.holdingtable tr:hover {
  background-color: #fafafa; /* row hover effect */
}
#search{
  width:300px;
 border:none;
 border-bottom:0.3px solid #e0e0e0;
 margin-left:5px;

}
.counts{
  margin-left:40px;
  
   
}
.buystock{
  position:fixed;
  left:700px;
  top:90px;
}
.stockinput{
  height:40px;
  width:120px;
}
.bar{
  height:200px;
  width:600px;
}